<h1>New contact</h1>

<%=render "form" %>

<%#= form_for(@contact) do |f|%>

<%#=f.label "First Name:"%>
<%#=f.text_field :first_name %></br>
<%#=f.label "Last Name:"%>
<%#=f.text_field :last_name %></br>
<%#=f.label "nickname:"%>
<%#=f.text_field :nickname %><br>
<%#=f.label "Job Title:"%>
<%#=f.text_field :job_title %></br>
<%#=f.label "Phone #:"%>
<%#=f.text_field :phone %></br>
<%#=f.label "email:"%>
<%#=f.text_field :email %></br>
<%#=f.label "twitter:"%>
<%#=f.text_field :twitter %><br>
<%#=f.label "Address:"%>
<%#=f.text_field :address %><br>
<%#=f.label "City:"%>
<%#=f.text_field :city %></br>
<%#=f.label "State:"%>
<%#=f.text_field :state %></br>
<%#=f.label "Zip:"%>
<%#=f.text_field :zip %><br>
<%#=f.label "Where did you meet?"%>
<%#=f.text_field :we_met_at %></br>
<%#=f.label "When did you meet?"%>
<%#=f.text_field :we_met_on %></br>
<%#=f.label "What did you chat about?"%>
<%#=f.text_field :we_chatted_about %></br>
<%#=f.label "How would you describe them, in a word or two (or twelve)?"%>
<%#=f.text_field :adjective %></br>
  #
<%#=f.label "Group your people however you'd like!"%>
<%#=f.text_field :group%>
  #
<%#= link_to 'Back', contacts_path %>
  #
<%#= f.submit %>
<%#end%>

<%= link_to 'Back', contacts_path %>
