header {
	background: -webkit-radial-gradient(center, ellipse cover, #7cb196 0%, #63AB4C 100%); /* Chrome10+,Safari5.1+ */		
	-webkit-border-radius: 6px;
	text-decoration: none;
	color: #502A17;
	}

#sidebar {
	float: right;
	}
	
#sidebar ul{
	list-style: none;
}
body {
	font-family: helvetica, sans-serif; 
	color: black;
	border: none;
	text-decoration: none;
	}
	
#contacts {
	text-decoration: none;
	color: black;
	border: none;
	}
	
#contact li {
	list-style: none;
}
	
h3 {
	border-top: -10px;
}

nav {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}

nav ul {
	list-style: none;
}

nav li {
	float: left;
	margin: 0 25px;
	list-style: none;
	text-decoration: none;
}

#splash ul{
	list-style: none;
	text-decoration: none;
	float: right;
	margin-right: 20px;
}

#splash text{
	margin: 50px auto;
	text-size: 60px;
}

#splash img{
	float: left;
	margin: auto;
}

#contacts{
	float: left;
}

#contacts ul{
	list-style: none;
}


